
location-messanger-master/.vs/LocationMessanger/FileContentIndex/6c5a8853-3db7-4dc1-989e-eb0fbd517f23.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/b585612e-e515-4c76-8bf8-50b47c6e4806.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/b7da4a97-1989-47e6-aded-9d699b2caa12.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/b8007a84-d2ed-4f9c-a2c7-a250e02e3c0a.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/b7da4a97-1989-47e6-aded-9d699b2caa12.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/cd3b3ee5-9fa8-40b9-b927-5ea6edfb21a2.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/cdc08ef3-ec72-4362-92da-ea660cc69f87.vsidx
location-messanger-master/.vs/LocationMessanger/FileContentIndex/b7da4a97-1989-47e6-aded-9d699b2caa12.vsidx
/location-messanger-master/.vs/LocationMessanger/FileContentIndex
location-messanger-master/.vs/LocationMessanger/DesignTimeBuild/.dtbcache.v2
location-messanger-master/.vs/location-messanger-master/v17/DocumentLayout.json
location-messanger-master/.vs/location-messanger-master/v17/.wsuo
location-messanger-master/.vs/LocationMessanger/DesignTimeBuild/.dtbcache.v2
/location-messanger-master/.vs/LocationMessanger
location-messanger-master/.vs/LocationMessanger/DesignTimeBuild/.dtbcache.v2
